.background {
    -fx-background-image: url("IMAGE/top-view-sports-court.jpg");
    -fx-background-size: cover;
}

.label-custom {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.custom-button {
    -fx-background-color: #76ff03; /* Vert lumineux */
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-background-radius: 20px;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #2e7d32;
    -fx-border-radius: 10px;
}
