.navbar-button {
    -fx-background-color: #2e7d32; /* Vert foncé */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.submit-button {
    -fx-background-color: #76ff03; /* Vert lumineux */
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-size: 14px;
}
