/* Style général pour l'AnchorPane */
.anchor-pane {
    -fx-background-color: #D3D3D3;
    -fx-padding: 20px;
}

/* Style des Labels */
.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Style des TextFields */
.text-field {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #B0B0B0;
}

/* Style des Buttons */
.button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #4CAF50; /* Green for 'Réserver' button */
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-margin: 10px;
}

.button:hover {
    -fx-background-color: #45A049;
}

/* Style des TableView */
.table-view {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #B0B0B0;
    -fx-border-width: 1px;
}

/* Style des TableColumns */
.table-column {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-alignment: center;
}

/* Style pour les boutons de la TableView */
.button-table {
    -fx-background-color: #808080;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.button-table:hover {
    -fx-background-color: #696969;
}